name: Build and Publish Docker images

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to build (branch, tag, SHA)'
        required: false
        default: 'main'
  push:
    branches:
      - main
  release:
    types: [created]

jobs:
  build-and-push:
    name: Build ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
          - ncs
          - nrf5sdk-15
          - nrf5sdk-17
          - embedded-gcc
          - pylib-emulator
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Derive build metadata
        id: meta
        run: python3 .github/workflows/derive_metadata.py --name "${{ matrix.name }}" --ref-name ${GITHUB_REF_NAME}-r${GITHUB_RUN_NUMBER}
  
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name == 'release' || github.event_name == 'workflow_dispatch' }}
          build-args: DESIRED_PYTHON_VERSION=${{ steps.meta.outputs.python_version }}
          tags: ${{ steps.meta.outputs.docker_tag }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: ./${{ matrix.name }}.dockerfile